<form method="get">
   <div class="form-group">
    <label for="exampleFormControlInput1">Prontuario</label>
    <input type="number" class="form-control" placeholder="Digite prontuário" name="prontuario">
    <button type="submit">Visualizar Agendamento</button>
   </div>